body {
    background-image: linear-gradient(-45deg, #000000, #202020, #262626 );
    background-size: 400% 400%;
    animation: gradient 40s ease infinite;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}