body {
    /*background-image: repeating-radial-gradient(center center, circle closest-side, #767676 0%, #202020 9%, #262626);*/
    background-image: radial-gradient( circle, #363636, #1c1c1c, #000000);
    background-size: 100% 100%;
    /*animation: gradient 25s ease infinite;*/
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/*@keyframes gradient {*/
/*    0% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 50%;*/
/*    }*/
/*    100% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*}*/